.body, input {
    font: arial,sans-serif;
    font-size: 14px;
    color: #222;
}

.mainhead {
    display: grid; 
    float: right;
    white-space: nowrap;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    justify-content: flex-end;
    box-sizing: border-box;
    grid-template-columns: 40px 55px 35px 70px;
    grid-gap: 10px;
    margin-top: 15px;
}

div {
    display:block;
}

a {
    text-decoration: none;
    color:black;
}

.image {
    max-height: 100%;
    max-width: 100%;
    object-position: center bottom;
    height: 92px;
    width: 272px;
    
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.log-in {
    color: white;
    background: #1a73e8;
    border-radius: 4px;
    border: 1px solid transparent;
    font-family:  Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: .25px;
    margin-right: 8px;
    text-align: center;
    padding: 2px 7px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

}

.log-in:hover {
    background-color: #073b7ef1;
}

.search {
    background-color: transparent;
    position: center;
    height: 39px;
    width: 437px;
    font-size: 16px;
    padding: 0;
    border: none;
    margin-top: 2.5px;
    border-top-color: initial;
    font-size: 16px;
}

input:focus {
    outline: none;
}

#miclogo {
    height: 24px;
    width: 20x;
}

#search1st {
    display: flex;
    justify-content: center;
    box-shadow: none;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    margin: 0;
    flex-wrap: nowrap;
    z-index: 3;
    flex: 1;
    max-width: 550px;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}

#searchbar {
    display: flex;
    justify-content: center;
    
}
#searchicon {
    display: flex;
    justify-content: center;
    
}

.mic {
    
    display: flex;
    align-items: center;
}

.buttonsearch {
    padding-top: 18px;
    top: 53px;
}

.gsearch:hover {

    border: 1px solid #d8d8dddc;
    box-shadow: .5px .5px #d8d8dddc;
}

center {
    display: block;
    text-align: -webkit-center;
}

.gsearch, .gsearch {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0px 16px;
    height: 36px;
    cursor: pointer;
    min-width: 54px;
}

#translate {
    text-align: center;
    font-size: small;
    margin-bottom: 24px;
    line-height: 28px;
    font: arial,sans-serif;
    font-size: 14px;
    color: #222;

}

#translate a {
    padding: 0 10px;
    color: #1a0dab;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

#boxing {
    flex-grow: 1;
    height: 219px;
}

.whfoot {
    display: flex;
    justify-content: space-between;
    
}

.fstfoot {
    
    display: flex;
   
}

.sstfoot {
    display: flex;
    
}


.fblock {
    display: block;
    padding: 15px;
    white-space: nowrap;
}

a.fblock {
    color: #70757a;
}

#PH {
    color: #70757a;
    margin-left: 15px;
}

a:hover {
    text-decoration: underline;
}

#translate a:hover {
    text-decoration: underline;
    color: blue;
}

a:active {
    text-decoration: underline;
}